/* General page styling */
body {
  margin: 0;
  padding: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation styling */
nav {
  display: flex;
  margin-top: 10px;
}

nav button {
  background: #222;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
}

nav button.active {
  background: #555;
}

/* Sections */
section {
  display: none;
  width: 90%;
  max-width: 600px;
  margin-top: 20px;
}

section.active {
  display: block;
}

/* Canvas styling */
canvas {
  border: 2px transparent;
  margin-top: 20px;
  displauy: block;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td, th {
  border: 1px solid white;
  padding: 5px;
}
